{% extends "base.html" %}    
{% block content %}
<div class="background">
<!-- <h2>Upload new File</h2> -->
    
<div class="caption">        
<h1>{{ action }} a Message</h1>

<form method="POST">

	<div class="form-group row">
		<div class="col-sm-12">
			<div class="input-group">
				<span class="input-group-addon" id="basic-addon1">Enter Message</span>
				<input type="text" class="form-control" name="message" value="{{ message }}">
			</div>
		</div>
	</div>
		
	<div class="form-group row">
				<div class="col-sm-12">
		<div class="input-group">
				<span class="input-group-addon" id="basic-addon1">Select Key</span>
				<input class="form-control" type="number" value="{{ key }}" id="key" min="1" max="26" name="key">
			</div>
		</div>
	</div>
	
	<input type="submit" class="btn btn-success btn-block" name="submit" value="Submit"/>

	
    <h2> {{ result }} </h2>
	
</form>

    </div>
</div>
{% endblock %}
