<html>
  <head>
    <link rel="stylesheet" href="/{{ 'static' }}/css/style.css">
    {% if title %}
    <title> SecretMessages | {{ title }} </title>
    {% else  %}
    <title> SecretMessages </title>
    {% endif %}
  </head>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
  
  
  <body>
    <nav>
        <ul>
        <li><a href="/index">Home</a></li>
        <li><a href="/messages">Start</a></li>
        </ul>
    </nav>
    {% block content %}{% endblock %}
  </body>
</html>
