{% extends "base.html" %}    
{% block content %}
<title>Upload new File</title>
<div class="background">
<!-- <h2>Upload new File</h2> -->
<form method="POST">
	<input type="text" 
	class="form-control"
	placeholder="Key" 
	name="key" value="{{request.form.key}}">
	
	<input type="text" 
	class="form-control"
	placeholder="Decoded"
	name="decoded" value="{{ decoded }}">
	
	<input type="submit" name="submit" value="encode">
	<input type="submit" name="submit" value="decode">

	<input type="text" 
	class="form-control"
	placeholder="Encoded"
	name="encoded"  value="{{ encoded }}">
	
</form>
</div>
{% endblock %}
